@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Gravitas+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Press+Start+2P&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #264143;
    font-family: 'Gravistas One', sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 10;
    text-align: center;

}

.btn {
    background-color: #de5499;
    height: 7vh;
    margin: 10px;
    border-radius: 50px;
    flex: 1;
    cursor: pointer;
    color: #264143;
    font-size: 20px;
    padding: 1px 30px;
    border-color: orange;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    margin: auto;
    color: #e99f4c;
    text-align: center;
    width: 100%;
    border: 10px #de5499;
    padding: 250px;
}

