*{
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: white;
}

.box {
    background-color: lightgray;
    color: black;
    width: 900px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}
